# Mengabaikan folder library (sangat berat)
node_modules/

# Mengabaikan file konfigurasi rahasia (password database/API key)
*.env

# Mengabaikan file log
*.log

# Mengabaikan file sistem
.DS_Store
Thumbs.db

# Mengabaikan file patch/dump database
*.sql

# Mengabaikan file seeder lokal
seed_real_data.js
